<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit this <track></track></title>
     <link rel="stylesheet" href="/style.css">
</head>
<body>
    <%- include('../partials/_navbar.ejs') %>
    <h1>What would you like to change about <%= weather.type %>?</h1>
  <form action="/users/<%= user._id %>/weather/" method="POST">

        <label for="fahrenheit">fahrenheit:</label>
        <input type="number" name="fahrenheit" id="fahrenheit" value="<%= weather.fahrenheit %>">

        <label for="state">State:</label>
        <input type="text" name="state" id="state" value="<%= weather.state %>">

        <label for="notes">Notes:</label>
        <textarea type="text" name="notes" id="notes"><%= weather.notes %></textarea>

        <label for="type">type:</label>
        <select name="type" id="type">
            <option value="sunny"
            <%= weather.type === 'sunny' ? 'selected' : '' %>
            >Sunny!</option>

            <option value="rain"
            <%= weather.type === 'rain' ? 'selected' : '' %>
            >rain!</option>

            <option value="neutral"
            <%= weather.type === 'neutral' ? 'selected' : '' %>
            >nothing much</option>

            <option value="windy"
            <%= weather.type === 'windy' ? 'selected' : '' %>
            >it's very windy!!</option>
        </select>

        <button type="submit">Update this weatherTracker</button>
    </form>
</body>
</html>