<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> <%= user.username %> </title>
     <link rel="stylesheet" href="/style.css">
</head>
<body>
    <%- include('../partials/_navbar.ejs') %>
    <h1><%= weather.state %></h1>
    <ul>
        <li>fahrenheit: <%= weather.fahrenheit %></li>
        <li>Notes: <%= weather.notes %></li>
        <% if (weather.type === 'Sunny') {  %>
            <li>How's the weather?: it's very Sunny!</li>
        <% } else if (weather.type === 'rain') { %>
            <li>How's the weather?: it's raining!</li>
        <% } else if (weather.type === 'neutral') { %>
            <li>How's the weather?: nothing much.</li>
        <% } else if (weather.type === 'windy') { %>
            <li>How's the weather?: It's very windy!</li>
        <% } %>
     </ul>
    
    <form action="/users/<%= user._id %>/weather/<%= weather._id %>?_method=DELETE" method="POST">
        <button type="submit">Delete this Track</button>
    </form>

    <a href="/users/<%= user._id %>/weather/<%= weather._id %>/edit">
        <button type="submit">Edit this Track</button>
    </a>
</body>
</html>








